@import url('https://fonts.cdnfonts.com/css/prociono');

body {
  @apply bg-black overflow-hidden text-g-gray;
  font-family: 'Prociono', sans-serif;
}

/* headings */
.g-heading-1 {
  @apply text-3xl sm:text-4xl lg:text-6xl;
}

.g-heading-2 {
  @apply text-2xl sm:text-3xl lg:text-5xl;
}

.g-heading-3 {
  @apply text-lg sm:text-xl lg:text-2xl;
}

/* body */
.g-body-1 {
  @apply text-base sm:text-lg lg:text-xl;
}

.g-body-2 {
  @apply text-sm sm:text-base lg:text-lg;
}

.g-body-3 {
  @apply text-sm sm:text-base lg:text-base;
}

/* layout */
.g-layout-1 {
  @apply w-screen px-5 sm:px-8 sm:w-11/12  2xl:w-10/12 h-screen py-3 sm:py-6 lg:py-10 m-auto;
}

/* text */

.g-text-shadow-primary {
  background: linear-gradient(180deg, #00719bc2 29.41%, rgb(0 133 182) 47.91%, rgba(1, 46, 63, 0.48) 84.9%);
  @apply bg-clip-text text-transparent;
}

.g-text-shadow-white {
  background: linear-gradient(180deg, #ffffff 14.28%, rgba(255, 255, 255, 0) 84.16%, #000000 48.16%);
  @apply bg-clip-text text-transparent;
}

/* other */

.g-card {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  transition: all 0.4s ease-out;

  :hover {
    background-color: var(--card-bg-hover);
  }
}

.g-overlay {
  background: var(--overlay);

  :hover {
    background: none;
  }
}

/* HERO PAGE */
.g-hero-mask-image {
  filter: brightness(0.5);
  -webkit-mask-image: url('/vectors/hero_main.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.g-hero-background {
  background: linear-gradient(
    224deg,
    rgba(0, 71, 96, 0.64) 8.35%,
    rgba(0, 34, 46, 0) 32.93%,
    rgba(0, 0, 0, 0) 101.77%
  );
  // background: radial-gradient(
  //   57.4% 50.18% at 48.57% 50.98%,
  //   rgba(0, 93, 126, 0.64) 0%,
  //   rgba(0, 37, 50, 0.47) 39.06%,
  //   rgba(0, 0, 0, 0) 100%
  // );

  //  background: radial-gradient(57.4% 50.18% at 48.57% 50.98%, rgb(0 93 126 / 8%) 0%, rgb(0 37 50 / 0%) 39.06%, rgba(0, 0, 0, 0) 100%)
}
