:root {
  --primary: #0784b2;
  --primary-transparent-low: #0784b215;
  --primary-transparent-medium: #0784b233;
  --primary-transparent-dark: #0784b266;

  --secondary: #942a07;
  --gray: #c0c0c0;
  --gray-medium: #818181;
  --gray-dark: #585858;

  --overlay-dark: #000000f7;
  --overlay-medium: #000000e3;

  --border: #353535;
}
