:root {
  --primary: #0784b2;
  --secondary: #942a07;
  --gray: #c0c0c0;

  --overlay-dark: #000000f7;
  --overlay-medium: #000000e3;

  --border: #424242;
  --card-bg: #0784b215;
  --card-bg-hover: #0784b235;
}
