:root {
  --primary-dark: #03455e;
  --primary: #0784b2;
  --primary-transparent-low: #0a546f15;
  --primary-transparent-medium: #0a546f33;
  --primary-transparent-dark: #0a546f66;
  --primary-transparent-dark2: #0a546f9e;

  --gray: #c0c0c0;
  --gray-light: #a5a5a5;
  --gray-medium: #818181;
  --gray-dark: #656565;

  --overlay-dark: #000000f7;
  --overlay-medium: #000000e3;

  --border: #353535;
  --error: #d01b1b;
}
