---
import { AboutMePage } from '../components/modules/about-me'
import { ClientWorkPage } from '../components/modules/client-work'
import { ContactMePage } from '../components/modules/contact-me'
import { DevelopmentPage } from '../components/modules/development-page'
import { HeroPage } from '../components/modules/hero-page'
import { ProvidingServicesPage } from '../components/modules/providing-services-page'
import Layout from '../layouts/Layout.astro'

const aricleAPI = 'https://dev.to/api/articles?username=krivanek06'
---

<Layout title="Welcome to Astro.">
  <main class="overflow-hidden">
    <HeroPage client:load />
    <div class="mt-[100px]">
      <DevelopmentPage client:load />
    </div>
    <div class="mt-[160px]">
      <ProvidingServicesPage />
    </div>
    <div class="mt-[100px]">
      <ClientWorkPage />
    </div>
    <div class="mt-[40px]">
      <AboutMePage />
    </div>
    <ContactMePage client:load />
  </main>
</Layout>
