---
import { AboutMePage } from '../components/modules/about-me'
import { ClientWorkPage } from '../components/modules/client-work'
import { ContactMePage } from '../components/modules/contact-me'
import { DevelopmentPage } from '../components/modules/development-page'
import { HeroPage } from '../components/modules/hero-page'
import { ProvidingServicesPage } from '../components/modules/providing-services-page'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="overflow-hidden">
    <HeroPage client:load />
    <div class="mt-[60px] md:mt-[100px]">
      <DevelopmentPage client:load />
    </div>
    <div class="md:mt-[160px]">
      <ProvidingServicesPage />
    </div>
    <div class="mt-[80px] md:mt-0">
      <ClientWorkPage />
    </div>
    <div class="mt-[40px]">
      <AboutMePage client:load />
    </div>

    <ContactMePage client:load />
  </main>
</Layout>
