---
import { DevelopmentPage } from '../components/development'
import { HeroPage } from '../components/hero'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroPage />
    <DevelopmentPage />

    <div class="min-h-[200px]"></div>
  </main>
</Layout>
