---
import { AboutMePage } from '../components/modules/about-me'
import { ClientWorkPage } from '../components/modules/client-work'
import { ContactMePage } from '../components/modules/content-me'
import { DevelopmentPage } from '../components/modules/development-page'
import { HeroPage } from '../components/modules/hero-page'
import { ProvidingServicesPage } from '../components/modules/providing-services-page'
import Layout from '../layouts/Layout.astro'

const aricleAPI = 'https://dev.to/api/articles?username=krivanek06'
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroPage />
    <div class="mt-[100px]">
      <DevelopmentPage />
    </div>
    <ProvidingServicesPage />
    <div class="mt-[100px]">
      <ClientWorkPage />
    </div>
    <div class="mt-[40px]">
      <AboutMePage />
    </div>
    <ContactMePage />

    <div class="min-h-[200px]"></div>
  </main>
</Layout>
