---
import { PageHero } from '../components/page-specifics/page-hero'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <PageHero />
  </main>
</Layout>
